In [47]:
#import libraries
import pandas as pd
import requests

In [54]:

url = 'https://api.exchangerate.host/latest'
response = requests.get(url)
data = response.json()

# print the data
# print(data)

In [ ]:
# Clean the data by removing columns that are not needed or not useful

In [52]:
df = pd.DataFrame(data)

In [53]:
df.isnull().any()

motd        True
success    False
base       False
date       False
rates       True
dtype: bool

In [35]:
print(df)

                                                  motd  success base  \
msg  If you or your company use this project or lik...     True  EUR
url                 https://exchangerate.host/#/donate     True  EUR
AED                                                NaN     True  EUR
AFN                                                NaN     True  EUR
ALL                                                NaN     True  EUR
..                                                 ...      ...  ...
XPT                                                NaN     True  EUR
YER                                                NaN     True  EUR
ZAR                                                NaN     True  EUR
ZMW                                                NaN     True  EUR
ZWL                                                NaN     True  EUR

           date       rates
msg  2021-06-25         NaN
url  2021-06-25         NaN
AED  2021-06-25    4.383876
AFN  2021-06-25   94.335962
ALL  2021-06-25  122.671356
..          ...         ...
XPT  2021-06-25    0.001083
YER  2021-06-25  298.433651
ZAR  2021-06-25   16.927770
ZMW  2021-06-25   26.987614
ZWL  2021-06-25  384.324710

[172 rows x 5 columns]